<!doctype html>
<html>
<style>
body {
            background-color: #E6E6FA
            }
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
h2 {
      text-align: center;
      margin-top: 50px;
    }
</style>
<head>
    <title>Loan Prediction Model Demo </title>
</head>
<body>
        <h1> Predict Probability of sanction of Loan </h1>
         <form action = {{ url_for('make_prediction')}} method = "post">
         <fieldset>
        <legend>Input values:</legend>
        Married:
        <input list="mrd"type="text" name="Married" type="text">
        <datalist id="mrd">
            <option value="Yes">
            <option value="No">

        </datalist>
        <br>
        <br> Education:
        <input list="edu" name="Education"  type="text" required>
        <datalist id="edu">
            <option value="Graduate">
            <option value="Not Graduate">
            <option value="HSC">
        </datalist>
        <br>
        <br> ApplicantIncome (integer):
        <input type="number" name="ApplicantIncome"  required>
        <br>
        <br> LoanAmount (integer):
        <input type="number"  name="LoanAmount" pattern="[+-]?([0-9]*[.])?[0-9]+" oninvalid="setCustomValidity('Plz enter a valid LoanAmount value')"
    onchange="try{setCustomValidity('')}catch(e){}" >
        <br>
        <br> Credit_History (a bool value either 0 or 1):
         <label>
    	<input type="radio" name="Credit_History" value="0" checked> 0
  		</label>
  		<label>
    	<input type="radio" name="Credit_History" value="1"> 1
  		</label>
        <br>
        <br>
         <p><input type = "submit" value="predict"/>   </p>
    </fieldset>
      </form>

        <br><br>
        <h2> {{ prediction_text }} </h2>

</body>
</html>